<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.entity.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>sportyShoe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginsController</display-name>
    <servlet-name>LoginsController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginsController</servlet-name>
    <url-pattern>/LoginsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdController</display-name>
    <servlet-name>ChangePwdController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.ChangePwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdController</servlet-name>
    <url-pattern>/ChangePwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartController</display-name>
    <servlet-name>AddCartController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.AddCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartController</servlet-name>
    <url-pattern>/AddCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartsController</display-name>
    <servlet-name>AddCartsController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.AddCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartsController</servlet-name>
    <url-pattern>/AddCartsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartController</display-name>
    <servlet-name>ViewCartController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.ViewCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartController</servlet-name>
    <url-pattern>/ViewCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderController</display-name>
    <servlet-name>PlaceOrderController</servlet-name>
    <servlet-class>org.simplileran.sportyShoe.controller.PlaceOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderController</servlet-name>
    <url-pattern>/PlaceOrderController</url-pattern>
  </servlet-mapping>
</web-app>